<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.EntryMapper">

    <sql id="Base_Column_List">
        entry_id,employerName,Sex,birthData,Tornoverreason,Deptname,Postname,startDate,endDate,Employment_type,Personnel_type,DelMark
    </sql>

    <insert id="insertSelective" parameterType="java.util.Map">
        insert into entry
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entry_id != null">
                entry_id,
            </if>
            <if test="employerName != null">
                employerName,
            </if>
            <if test="Sex != null">
                Sex,
            </if>
            <if test="birthData != null">
                birthData,
            </if>
            <if test="Tornoverreason != null">
                Tornoverreason,
            </if>
            <if test="Deptname != null">
                Deptname,
            </if>
            <if test="Postname != null">
                Postname,
            </if>
            <if test="startDate != null">
                startDate,
            </if>
            <if test="endDate != null">
                endDate,
            </if>
            <if test="Employment_type != null">
                Employment_type,
            </if>
            <if test="Personnel_type != null">
                Personnel_type,
            </if>
            <if test="DelMark != null">
                DelMark,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entry_id != null">
                #{entry_id,jdbcType=INTEGER},
            </if>
            <if test="employerName != null">
                #{employerName,jdbcType=VARCHAR},
            </if>
            <if test="Sex != null">
                #{Sex,jdbcType=VARCHAR},
            </if>
            <if test="birthData != null">
                #{birthData,jdbcType=VARCHAR},
            </if>
            <if test="Tornoverreason != null">
                #{Tornoverreason,jdbcType=VARCHAR},
            </if>
            <if test="Deptname != null">
                #{Deptname,jdbcType=VARCHAR},
            </if>
            <if test="Postname != null">
                #{Postname,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="Employment_type != null">
                #{Employment_type,jdbcType=VARCHAR},
            </if>
            <if test="Personnel_type != null">
                #{Personnel_type,jdbcType=VARCHAR},
            </if>
            <if test="DelMark != null">
                #{DelMark,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertSelective1" parameterType="java.util.Map">
        insert into Induction
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="ID != null">
                ID,
            </if>
            <if test="Deptname != null">
                Deptname,
            </if>
            <if test="Postname != null">
                Postname,
            </if>
            <if test="employerName != null">
                employerName,
            </if>
            <if test="Sex != null">
                Sex,
            </if>
            <if test="startDate != null">
                startDate,
            </if>
            <if test="DelMark != null">
                DelMark,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="ID != null">
                #{ID,jdbcType=INTEGER},
            </if>
            <if test="Deptname != null">
                #{Deptname,jdbcType=VARCHAR},
            </if>
            <if test="Postname != null">
                #{Postname,jdbcType=VARCHAR},
            </if>
            <if test="employerName != null">
                #{employerName,jdbcType=VARCHAR},
            </if>
            <if test="Sex != null">
                #{Sex,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="DelMark != null">
                #{DelMark,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertSelective2" parameterType="java.util.Map">

        insert into dimission
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="ID != null">
                ID,
            </if>
            <if test="employerName != null">
            employerName,
           </if>
            <if test="Sex != null">
                Sex,
            </if>
            <if test="endDate != null">
                endDate,
            </if>
            <if test="Deptname != null">
                Deptname,
            </if>
            <if test="Postname != null">
                Postname,
            </if>
            <if test="Turnover_type != null">
                Turnover_type,
            </if>
            <if test="talent_bank != null">
                talent_bank,
            </if>
            <if test="Tornoverreason != null">
                Tornoverreason,
            </if>
            <if test="DelMark != null">
                DelMark,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="ID != null">
                #{ID,jdbcType=INTEGER},
            </if>
            <if test="employerName != null">
                #{employerName,jdbcType=VARCHAR},
            </if>
            <if test="Sex != null">
                #{Sex,jdbcType=VARCHAR},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="Deptname != null">
                #{Deptname,jdbcType=VARCHAR},
            </if>
            <if test="Postname != null">
                #{Postname,jdbcType=VARCHAR},
            </if>
            <if test="Turnover_type != null">
                #{Turnover_type,jdbcType=VARCHAR},
            </if>
            <if test="talent_bank != null">
                #{talent_bank,jdbcType=VARCHAR},
            </if>
            <if test="Tornoverreason != null">
                #{Tornoverreason,jdbcType=VARCHAR},
            </if>
            <if test="DelMark != null">
                #{DelMark,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="java.util.Map">
        update entry
        <set>
            <if test="entry_id != null">
                entry_id= #{entry_id,jdbcType=INTEGER},
            </if>
            <if test="employerName != null">
                employerName=#{employerName,jdbcType=VARCHAR},
            </if>
            <if test="Sex != null">
                Sex=#{Sex,jdbcType=VARCHAR},
            </if>
            <if test="birthData != null">
                birthData=#{birthData,jdbcType=VARCHAR},
            </if>
            <if test="Tornoverreason != null">
                Tornoverreason=#{Tornoverreason,jdbcType=VARCHAR},
            </if>
            <if test="Deptname != null">
                Deptname=#{Deptname,jdbcType=VARCHAR},
            </if>
            <if test="Postname != null">
                Postname=#{Postname,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null">
                startDate=#{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                endDate=#{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="Employment_type != null">
                Employment_type=#{Employment_type,jdbcType=VARCHAR},
            </if>
            <if test="Personnel_type != null">
                Personnel_type=#{Personnel_type,jdbcType=VARCHAR},
            </if>
            <if test="DelMark != null">
                DelMark=#{DelMark,jdbcType=INTEGER},
            </if>
        </set>
        where entry_id = #{entry_id,jdbcType=INTEGER}
    </update>




    <!-- 分页显示药品信息 -->
    <select id="getEntryList" resultType="java.util.Map">
        SELECT
        <include refid="Base_Column_List" />
        FROM entry
        WHERE (DelMark = 1
        OR DelMark = 3)
        <if test="keywords!=null and keywords!='' ">
            AND Deptname LIKE concat('%',#{keywords},'%')
        </if>
        LIMIT #{start},#{count};
    </select>

    <select id="getEntryCount" resultType="int">
        SELECT count(*) FROM entry
        WHERE (DelMark = 1
        OR DelMark = 3)
        <if test="keywords!=null and keywords!='' ">
            AND Deptname LIKE concat('%',#{keywords},'%')
        </if>
    </select>
    <select id="getEntryList1" resultType="java.util.Map">
        SELECT
        <include refid="Base_Column_List" />
        FROM entry
        WHERE DelMark = 0
        OR DelMark = 4
        LIMIT #{start},#{count};
    </select>

    <select id="getEntryCount1" resultType="int">
        SELECT count(*) FROM entry
        WHERE DelMark = 0
        OR DelMark = 4
    </select>
    <select id="getEntryList2" resultType="java.util.Map">
        SELECT
        <include refid="Base_Column_List" />
        FROM entry
        WHERE DelMark = 2
        LIMIT #{start},#{count};
    </select>

    <select id="getEntryCount2" resultType="int">
        SELECT count(*) FROM entry
        WHERE DelMark = 2
    </select>
    <select id="getEntryList3" resultType="java.util.Map">
        SELECT
        <include refid="Base_Column_List" />
        FROM entry
        WHERE DelMark = 3
        LIMIT #{start},#{count};
    </select>

    <select id="getEntryCount3" resultType="int">
        SELECT count(*) FROM entry
        WHERE DelMark = 3
    </select>
    <select id="getEntryList4" resultType="java.util.Map">
        SELECT
        <include refid="Base_Column_List" />
        FROM entry
        WHERE DelMark = 4
        LIMIT #{start},#{count};
    </select>

    <select id="getEntryCount4" resultType="int">
        SELECT count(*) FROM entry
        WHERE DelMark = 4
    </select>
</mapper>